body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
    margin: 0;
    background-image: url('../images/signup/alexander-mils-lCPhGxs7pww-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

body h1{
    position: fixed;
    top: 0.5px;
    font-family: 'Courier New', monospace;
    color: whitesmoke;
    font-size: 400%;
}

fieldset h2{
    position: absolute;
    top: 10px;
    margin-bottom: 1rem;
    font-family: inherit;
    font-size: 25px;
}

#premium {
    position: fixed;
    visibility: hidden;
    cursor: pointer;
    user-select: none;
    top: 80px;
    right: 115px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    font-family: inherit;
    font-weight: 700;
    color: rgb(188, 229, 232);
    background-color: rgba(73, 11, 11, 0.947);
    border: none;
}

#premium:hover {
    color: rgb(10, 46, 49);
    background-color: rgba(159, 107, 107, 0.947);
}

#premium.show {
    visibility: visible;
}

#title {
    position: relative;
}

#title h3 {
    position: absolute;
    left: 80px;
    font-family: 'Courier New', monospace;
    color: whitesmoke;
    top: 110px;
}

#title h1 {
    top: 0.5px;
    left: 8px;
    position: relative;
    font-family: 'Courier New', monospace;
    color: whitesmoke;
}

#category {
    width: 298px;
    height: 35px;
    border-radius: 10px;
    font-family: inherit;
    font-size: 20px;
}

option {
    font-family: inherit;
    font-size: 20px;
}

#expenseform {
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 45px;
    position: relative;
}

#expenseform.dark {
    background-color: rgb(44, 44, 43);
}

form {
    position: relative;
}

.add-expense-btn {
    background-color: green;
    cursor: pointer;
    user-select: none;
    position: absolute;
    color: white;
    font-family: inherit;
    top: 10px;
    left: 10px;
    width: 150px;
    font-size: 15px;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
}
.saveexpense-btn {
    background-color: rebeccapurple;
    cursor: pointer;
    user-select: none;
    position: absolute;
    color: white;
    font-family: inherit;
    left: 75px;
    font-size: 20px;
    padding: 0.5rem;
    width: 150px;
    border-radius: 10px;
    border: none;
}

.saveexpense-btn:hover {
    background-color: purple;
    color:aqua;
}


.add-expense-btn:hover {
    background-color: rgb(169, 175, 60);
    color:whitesmoke
}

#addExpense a:hover {
    background-color: rgb(5, 140, 5);
    color:aqua;
}

#addExpense a {
    text-decoration: none;
    display: block;
    width: 140px;
    height: 15px;
    background: green;
    margin-top: 20px;
    padding: 7px;
    font-family: inherit;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
    line-height: 15px;
}

label {
    font-family: inherit;
}

label.dark {
    color: whitesmoke;
}

input {
    width: 290px;
    height: 30px;
    border-radius: 10px;
    font-family: inherit;
    font-size: 20px;
}

#formtitle.dark {
    color: whitesmoke;
}
/* input, select, textarea{
    color: #ff0000;
}

textarea:focus, input:focus {
    color: #ff0000;
} */

#amount.dark {
    border: 1px solid rgba(0,0,0,.5);
    background: rgba(0,0,0,.25);
    color: white;
}

#desc {
    width: 290px;
    height: 100px;
    border-radius: 10px;
    font-family: inherit;
    font-size: 20px;
    resize: none;
}

#desc.dark {
    border: 1px solid rgba(0,0,0,.5);
    background: rgba(0,0,0,.25);
    color: white;
}

#category.dark {
    border: 1px solid rgba(0,0,0,.5);
    background: rgba(0,0,0,.25);
    color: white;
}

#networkerror {
    font-size: x-large;
}

#networkerror.dark {
    color: white;
}

#noexpenses {
    position : relative;
    text-align: center;
    top: 100px;
    font-size: x-large;
    justify-content: center;
}

#noexpenses.dark {
    color: white;
}

#exists {
    font-family: inherit;
    color: green;
    /* left:  */
}

#container {
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba( 0, 0, 0, 0.3);
    padding: 2.5rem;
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60%;
    top: 180px;
}

#container.dark {
    background-color: rgba(30, 22, 22, 0.724);
}

#expenses-list {
    background-color: rgb(227, 217, 196);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba( 0, 0, 0, 0.3);
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60%;
    top: 250px;
}

#expenses-list.dark {
    background-color: rgb(44, 44, 43);
}

.expense-item {
    background-color: rgb(119, 112, 144);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    position: relative;
    height: 80px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.expense-item .dark {
    background-color: rgb(50, 6, 6);
}

.delete-expense-button {
    background-color: rgb(200, 22, 51);
    cursor: pointer;
    color: white;
    border:2px solid #56CCF2;
    border-radius: 7px;
    padding:6px 10px;
    position: absolute;
    right: 4%;
}

.delete-expense-button:hover {
    background-color: rgb(245, 10, 10);
    color: white;
}

.showamount {
    font-family: inherit;
    font-size: 15px;
    left: 5%;
    top: 5px;
    position: absolute;
}

.showdesc {
    font-family: inherit;
    font-size: 15px;
    top: 25px;
    left: 5%;
    position: absolute;
}

.showcat {
    font-family: inherit;
    font-size: 15px;
    top: 45px;
    left: 5%;
    position: absolute;
}

.popup-container {
    background: rgba(148, 194, 207, 0.5);
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.popup-container.active {
    display: flex;
}

.popup {
    position: relative;
    width: 250px;
}

.popup-container-premium {
    background: rgba(148, 194, 207, 0.356);
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.popup-container-premium.active {
    display: flex;
}

.popup-premium {
    position: absolute;
    width: 250px;
    left: 450px;
}

#close {
    background-color: whitesmoke;
    cursor: pointer;
    user-select: none;
    color: red;
    font-family: inherit;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    border: none;
}

#close.dark {
    background-color: rgb(44, 44, 43);
}

#closepremium {
    background-color: whitesmoke;
    cursor: pointer;
    user-select: none;
    color: red;
    font-family: inherit;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 25px;
    border: none;
}

#premiumshow {
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 100px;
    position: relative;
    height: 80px;
    width: 500px;
}

#premiumshow h2 {
    position: absolute;
    left: 30px;
}

#premiumlist {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 700px;
}

#premiumlist h2 {
    position: absolute;
}

.payment-btn {
    background-color: rebeccapurple;
    cursor: pointer;
    user-select: none;
    position: absolute;
    color: white;
    font-family: inherit;
    left: 200px;
    top: 230px;
    font-size: 20px;
    padding: 0.5rem;
    width: 300px;
    border-radius: 10px;
    border: none;
}

.payment-btn:hover {
    background-color: purple;
    color:aqua;
}

.premiumitem {
    list-style-type: none;
    font-size: x-large;
    left: 20px;
}

@keyframes glowing {
    0% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #2ba805;
    }
    50% {
      background-color: #49e819;
      box-shadow: 0 0 20px #49e819;
    }
    100% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #2ba805;
    }
}
#premium {
    animation: glowing 5000ms infinite;
}

/* darkmodeswitch */

#darkmode {
    position: fixed;
    visibility: hidden;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 130px;
    top: 120px;
  }

#darkmode.show {
    visibility: visible;
}
  
  
  #darkmode input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgba(0, 0, 0, 0.719);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }